
.container {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.padre{
    height: 450px;
    width: 600px;
    background-color: rgb(95, 206, 240);
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
}
.hijo1{
    width: 130px;
    height: 430px;
    background-color: rgb(184, 130, 197);
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 10px;
    position: absolute;
    top: 10PX;
    left: 10PX;
    display: flex;
    justify-content:center;
    align-items: center;
}
.hijo2{
    width: 440px;
    height: 120px;
    background-color: rgb(229, 188, 240);
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 320PX;
    right: 5PX;
    display: flex;
    justify-content: right;
    align-items: center;
}
.hijo3 {
    width: 440px;
    height: 160px;
    background-color: rgb(184, 130, 197);
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 160PX;
    left: 150PX;
    display: flex;
    justify-content: center;
    align-items: center;
}
.padre3{
    width: 450px;
    height: 100px;
    background-color:rgb(95, 206, 240);
    border-radius: 10px;
    right: 5px;
    top: 20px;
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.hijo3-1{
    width: 100px;
    height: 100px;
    background-color: rgb(184, 130, 197);
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 220px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.hijo3-2{
        width: 100px;
    height: 100px;
    background-color: rgb(184, 130, 197);
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}